@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,300,400,500,600,700&subset=cyrillic');

* {
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
}

/*------Переменные-----*/

$font-stack:         IBM Plex Sans, sans-serif;
$primary-color:      #103D97;
$second-color:       #F9F8FC;
$primary-bg-color:   #ffffff;
$primary-font-color: #000000;
$second-font-color:  #ffffff;
$warn-color:         #FF3B30;

/*------/Переменные-----*/

/*----Общие стили----*/

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

.wrap {
  width: 100%;
  background: $primary-bg-color;
  font-family: $font-stack;
  color: $primary-font-color;
  font-size: 15px;
  padding-bottom: 322px;
  position: relative;
}

.icon-round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*----/Общие стили----*/

/*-------HEADER-------*/

.header {
  background: $primary-color;
  color: $second-font-color;
  padding: 22px 61px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-icon {
  display: none;
  width: 21px;
  height: 15px;
  position: relative;
}

.header__hamburger {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.header__hamburger:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  top: 10px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.header__hamburger:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  top: -10px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.header__nav-active .header__hamburger {
  background-color: transparent;
}

.header__nav-active .header__hamburger:before {
  transform: rotate(45deg);
  top: 0;
}

.header__nav-active .header__hamburger:after {
  transform: rotate(-45deg);
  top: 0;
}

.header__nav ul {
  display: flex;
}

.header__nav__item {
  margin: 0 20px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.header__nav__item-active {
  color: #466AAA;
}

.profile__avatar {
  display: inline-block;
  vertical-align: middle;
}

.profile__info {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.profile__stat {
  display: flex;
  justify-content: space-between;
  background: $primary-bg-color;
  color: $primary-color;
  border-radius: 100px;
  margin-top: 7px;
}

.profile__g {
  display: flex;
  padding: 4px 10px;
  border-right: 1px solid #D1D1D6;;
}

.profile__g__icon {
  margin-left: 5px;
}

.profile__many {
  padding: 4px 10px;
}

/*-------/HEADER-------*/

/*-------MAIN---------*/

.main {
  min-height: calc(100vh - 101px - 322px);
  padding-bottom: 60px;
}

.main__header {
  width: 100%;
  padding: 40px 60px;
  position: relative;
}

.main__title {
  position: absolute;
  display: flex;
}

.main__title__icon {
  margin-left: 15px;
}

.main__section-toggle {
  display: flex;
  justify-content: center;

}

.section-btn {
  background: $second-color;
  padding: 10px 30px;
  color: #8E8E93;
  &:first-child {
    border-radius: 10px 0 0 10px;
  }
  &:last-child {
    border-radius: 0 10px 10px 0;
  }
}

.section-btn-active {
  background: $primary-color;
  color: $second-font-color;
}

.month {
  margin-bottom: 30px;
}

.month__header {
  margin: 0 60px;
  background: $second-color;
  color: #8E8E93;
  font-weight: 500;
  line-height: 22px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 5px;
}

.record {
  padding: 40px 40px 40px 0;
  margin: 0 60px;
  display: grid;
  grid-template-columns: max-content 125px auto 150px 4px;
  align-items: center;
  border-bottom: 1px solid #E5E5EA;
  &:last-child {
    border: none;
  }
}

.record__number {
  font-weight: 500;
  line-height: 50px;
  font-size: 50px;
}

.noagreed {
  .record__number, .record__time {
    color: $warn-color;
  }
  .record__agreed {
    position: absolute;
    top: 110%;
    left: -4px;
    img {
      max-width: 15px;
      display: inline-block;
      margin-right: 6px;
    }
  }
}

.record__time {
  padding-left: 10px;
  position: relative;
}

.record__info {
  display: flex;
  align-items: center;
}

.record__avatar .icon-round {
  width: 53px;
  height: 53px;
  margin-left: -20px;
}

.record__text {
  margin-left: 15px;
}

.record__name {
  color: $primary-color;
  font-weight: 500;
}

.record__search {
  color: $warn-color;
}

.record__event-type {
  display: flex;
  align-items: center;
}

.record__event-type .record__country {
  margin: 0 25px;
}

.record__settings {
  position: relative;
  cursor: pointer;
}

.settings__list  {
  position: absolute;
  top: 110%;
  right: 5px;
  background: $second-color;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .3);
  display: none;
}
.settings__item {
  padding: 10px 10px;
}

.settings__item:hover {
  background: $primary-color;
  color: $second-font-color;
}

/*-------/MAIN---------*/

/*--------FOOTER--------*/

.footer {
  background: #F6F6F6;
  padding: 65px 60px 85px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer__nav__item {
  margin: 10px 0;
}

.footer__apps {
  color: #8E8E93;
}

.apps__btn {
  display: inline-block;
  margin-right: 5px;
  margin-top: 20px;
}

.footer__socials {
  display: flex;
}

.socials-link {
  margin: 0 10px;
}

.socials-link-inst {
  margin-top: 1px;
}

/*--------/FOOTER--------*/

/*--------@MEDIA---------*/

@media screen and (max-width: 1024px) {
  .header {
    padding: 22px 30px;
  }
  .header__nav__item {
    margin: 0 10px;
  }
  .main__header {
    padding: 40px 30px;
  }
  .month__header {
    margin: 0 30px;
  }
  .record {
    margin: 0 30px;;
  }
  .footer {
    padding: 65px 30px 85px;
  }
}

@media screen and (max-width: 960px) {
  .wrap {
    padding-bottom: 0;
  }
  .main {
    min-height: auto;
  }
  .footer {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
  }
  .apps__btn {
    display: block;
    max-width: 170px;
    margin: 5px auto;
  }
  .socials-link {
    width: 25px;
    height: 25px;
  }

}

@media screen and (max-width: 870px) {
  .header {
    flex-wrap: wrap;
  }
  .header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header__icons img {
    max-width: 160px;
  }
  .header__nav-icon {
    display: block;
  }
  .main__title {
    position: relative;
    justify-content: space-between;
  }
  .main__section-toggle {
    margin-top: 15px;
  }
  .record {
    padding: 30px 0;
    grid-template-columns: min-content auto 100px 4px;
    grid-row-gap: 20px;
    grid-template-areas:
        "number time eventType settings"
        "info info info info";
  }
  .record__number {
    grid-area: number;
  }
  .record__time {
    grid-area: time;
  }
  .record__info {
    grid-area: info;
    grid-column: 1/5;
  }
  .record__event-type {
    grid-area: eventType;
  }
  .record__event-type .record__country {
    margin: 0 10px;
  }
  .record__event-type .icon-round {
    width: 30px;
    height: 30px;
  }
  .record__settings {
    grid-area: settings;
  }
}

@media screen and (max-width: 690px) {
  .header {
    flex-direction: column;
  }
  .header__nav {
    order: 1;
    margin-top: 10px;
    display: none;
  }
  .header__nav ul {
    flex-direction: column;
  }
  .header__nav__item {
    margin: 10px 0;
  }
  .profile {
    margin-top: 10px;
    display: none;
  }
}

@media screen and (max-width: 340px) {
  .section-btn {
    padding: 10px 15px;
  }
  .record__number {
    font-size: 40px;
    line-height: 40px;
  }
  .record {
    grid-template-columns: min-content auto 90px 4px;
  }
  .record__time {
    padding-left: 5px;
  }
  .record__event-type .record__country {
    margin: 0 5px;
  }

}

/*--------/@MEDIA---------*/
