doctype html
html(lang="ru-RU")
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Duotek test
        link(rel="stylesheet", type="text/css", href="css/style.css")
        script(src="js/libs.min.js")
        script(src="js/records.js")
        script(src="js/common.js")

    body
        .wrap
            header.header
               .header__icons
                   img(src="img/logo.svg", alt="logo")
                   .header__nav-icon
                       .header__hamburger
               nav.header__nav
                   ul
                       li.header__nav__item.header__nav__item-active
                           a(href="#") Календарь
                       li.header__nav__item
                           a(href="#") Сообщения
                       li.header__nav__item
                           a(href="#") Собеседники
                       li.header__nav__item
                           a(href="#") Репетиторы
               .profile
                   .profile__avatar
                       img(src="img/ava1.png", alt="avatar").icon-round
                   .profile__info
                       .profile__name
                            a(href="#") Екатерина М.
                       .profile__stat
                           .profile__g
                               p 52
                               img(src="img/fill.svg", alt="g").profile__g__icon
                           .profile__many
                               p 2394 $
            main.main
                header.main__header
                    .main__title
                        h1 Календарь
                        img(src="img/calendar.svg", alt="calendar").main__title__icon
                    .main__section-toggle
                        .section-btn.section-btn-active Запросы
                        .section-btn Записи
                        .section-btn Архив
                .event__list#eventList
                    section.month(v-for="(events, key) in eventGroups")
                        header.month__header {{key}}
                        .record(v-for="event in events", :class="{noagreed: !event.isAgreed}")
                            .record__number {{event.date.getDate()}}
                            .record__time
                                .record__month {{monthsRod[event.date.getMonth()]}}
                                .record__time-interval {{event.timeFrom}} - {{event.timeTo}}
                                .record__agreed(v-if="!event.isAgreed")
                                    img(src="img/clock.svg", alt="")
                                    | Согласование
                            .record__info
                                .record__country
                                    img(:src="event.flag", alt="flag").icon-round
                                .record__avatar
                                    img(:src="event.avatar", alt="avatar").icon-round
                                .record__text
                                    .record__name(:class="{record__search: event.isSearch}")
                                        a(href="") {{event.men.name}}
                                    .record__description {{event.men.description}}
                            .record__event-type
                                div {{event.eventType}}
                                .record__country
                                    img(:src="event.eventIcon", alt="flag").icon-round
                            .record__settings(v-on:click="toggleList")
                                img(src="img/record-settings.svg", alt="settings")
                                ul.settings__list
                                    li.settings__item
                                        a(href="") Подтвердить
                                    li.settings__item
                                        a(href="") Удалить
            footer.footer
                .logo
                    img(src="img/logo-gray.svg", alt="logo")
                nav.footer__nav
                    ul
                        li.footer__nav__item
                            a(href="") О нас
                        li.footer__nav__item
                            a(href="") Помощь
                        li.footer__nav__item
                            a(href="") Репетиторам
                        li.footer__nav__item
                            a(href="") Аккредитация языковых школ
                        li.footer__nav__item
                            a(href="") Пользовательское соглашение
                        li.footer__nav__item
                            a(href="") Политика конфиденциальности
                .footer__apps
                    p Скачайте приложение и получите
                        br
                        | приветственный бонус!
                    a(href="#").apps__btn
                        img(src="img/app-store-badge.svg", alt="app-store")
                    a(href="#").apps__btn
                        img(src="img/google-play-badge.svg", alt="app-store")
                .footer__socials
                    a(href="#").socials-link
                        img(src="img/fb.svg", alt="facebook")
                    a(href="#").socials-link
                        img(src="img/vk.svg", alt="vkontakte")
                    a(href="#").socials-link.socials-link-inst
                        img(src="img/inst.svg", alt="instagram")
